.grillaDeFormulario{
    grid-template-areas: 
    "cabecera"
    "formulario"
    "pieDePagina";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(3,auto);
    .fondo--formulario{
        background-image: url("../imagenes/fondo_form.jpg");
        background-size: contain;
        background-repeat: repeat;
        background-position: center;
        .formulario{
            text-align: center;
            grid-area: formulario;
            .enviar{
                cursor: pointer;
                background-color: $colorDelca;
                color: white;
                transition: padding 0.5s;
                &:hover{
                    padding: 2px;
                }
            }
            .azul{
                background-color: $colorDelca;
                color:white
            }
            .blanco{
                color: white;
            }
            }        
    }
}
