.grillaDeHistoria{
    display: grid;
    grid-template-areas:
    "cabecera cabecera cabecera"
    "valor valor valor"
    "valores valores textoValores"
    "escudo escudo escudo"
    "textoEscudo textoEscudo viejo"
    "textoEscudo textoEscudo nuevo"
    "casaca casaca casaca"
    "camisetaFoto camisetaFoto textoCasaca"
    "tifa tifa tifa"
    "fotoTifa1 textoTifa fotoTifa2"
    "fotoTifa3 textoTifa fotoTifa4"
    "campeones campeones campeones"
    "campeonesFoto1 campeonesFoto1 campeonesTexto"
    "campeonesFoto2 campeonesFoto2 campeonesTexto"
    "ligaNuñez ligaNuñez ligaNuñez"
    "pieDePagina pieDePagina pieDePagina";
    grid-template-rows: 138px 100px 600px 100px 300px 300px 100px 600px 100px 300px 300px 100px 300px 300px 100px 138px;
    grid-template-columns: 2fr 2fr 2fr;
    column-gap: 10px;
    row-gap: 10px;
    background-color: $colorDelca;
    .valores--foto{
        display: inline-block;
        margin: 15px;
        border-top: 15px solid $colorDelca;
        border-right: 15px solid black;
        border-left:  15px solid black;
        border-bottom: 15px solid $colorDelca;
        border-radius: 05px;
        grid-area: valores;
    }
    .valores--texto,
    .textoEscudo,
    .textoCasaca,
    .textoTifa,
    .campeonesTexto{
        font-size: 17px;
        grid-area: textoValores;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .escudo--viejo{
    grid-area: viejo;
    }
    .escudo--nuevo{
    grid-area: nuevo;
    }
    .textoEscudo{
        grid-area: textoEscudo;
    }
    .valor,
    .casaca,
    .campeones{
        grid-area: valor;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $colorDelca;
        background-color: white;
        border-radius: 25px;
    }
    .escudo,
    .tifa,
    .ligaNuñez{
        grid-area: escudo;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $colorDelca;
        background-color: black;
        border-radius: 25px;
    }
    .casaca{
        grid-area: casaca;
    }
    .camisetaFoto{
        grid-area: camisetaFoto;
    }
    .textoCasaca{
        grid-area: textoCasaca;
    }
    .tifa{
        grid-area: tifa;
    }
    .fotoTifa1{
        grid-area: fotoTifa1;
    }
    .textoTifa{
        grid-area: textoTifa;
    }
    .fotoTifa2{
        grid-area: fotoTifa2;
    }
    .fotoTifa3{
        grid-area: fotoTifa3;
    }
    .fotoTifa4{
    grid-area: fotoTifa4;
    }
    .campeones{
        grid-area: campeones;
    }
    .campeonesFoto1{
        grid-area: campeonesFoto1;
    }
    .campeonesTexto{
        grid-area: campeonesTexto;
    }
    .campeonesFoto2{
        grid-area: campeonesFoto2;
    }    
    .ligaNuñez{
        grid-area: ligaNuñez;
    }
}

@media screen and (max-width: 599px) and (orientation:portrait) {
    .grillaDeHistoria{
        grid-template-areas:
        "cabecera"
        "valor"
        "valores"
        "textoValores"
        "escudo"
        "viejo"
        "nuevo"
        "textoEscudo"
        "casaca"
        "camisetaFoto" 
        "textoCasaca"
        "tifa"
        "fotoTifa1"
        "fotoTifa2"
        "textoTifa"
        "fotoTifa3"
        "fotoTifa4"
        "campeones"
        "campeonesFoto1"
        "campeonesTexto"
        "campeonesFoto2"
        "ligaNuñez"
        "pieDePagina";
        grid-template-rows: 138px 100px 300px 300px 100px 300px 300px 400px 100px 300px 500px 100px 250px 250px 200px 250px 250px 100px 200px 500px 200px 100px 138px;
        grid-template-columns: 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }
    }

    @media screen and (max-width: 599px) and (orientation:landscape) {
        .grillaDeHistoria{
            grid-template-areas:
        "cabecera cabecera"
        "valor valor"
        "valores textoValores"
        "escudo escudo "
        "viejo nuevo"
        "textoEscudo textoEscudo"
        "casaca casaca"
        "textoCasaca camisetaFoto"
        "tifa tifa"
        "fotoTifa1 fotoTifa2"
        "textoTifa textoTifa"
        "fotoTifa3 fotoTifa4"
        "campeones campeones"
        "campeonesFoto1 campeonesTexto"
        "campeonesFoto2 campeonesTexto"
        "ligaNuñez ligaNuñez"
        "pieDePagina pieDePagina";
        grid-template-rows: 138px 100px 600px 100px 300px 300px 100px 600px 100px 300px 300px 300px 100px 300px 320px 100px 138px;
        grid-template-columns: repeat(2,1fr);
        column-gap: 10px;
        row-gap: 10px;
        }
}

@media screen and (min-width:600px) and (max-width:1199px){
    .grillaDeHistoria{
        grid-template-areas:
    "cabecera cabecera"
    "valor valor"
    "valores textoValores"
    "escudo escudo "
    "viejo nuevo"
    "textoEscudo textoEscudo"
    "casaca casaca"
    "textoCasaca camisetaFoto"
    "tifa tifa"
    "fotoTifa1 fotoTifa2"
    "textoTifa textoTifa"
    "fotoTifa3 fotoTifa4"
    "campeones campeones"
    "campeonesFoto1 campeonesTexto"
    "campeonesFoto2 campeonesTexto"
    "ligaNuñez ligaNuñez"
    "pieDePagina pieDePagina";
    grid-template-rows: 138px 100px 600px 100px 300px 300px 100px 600px 100px 300px 300px 300px 100px 300px 320px 100px 138px;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 10px;
    }  
    }