@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  font-family: kanit;
}

/* 
.border{
    border: 02px solid blue;
} */
.cabecera {
  grid-area: cabecera;
  background-image: linear-gradient(to right, #1033a3, black);
}

.cabecera--titulo {
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
  bottom: 25px;
}

.cabecera--foto {
  display: inline-block;
  margin: 10px;
}

.cabecera--navegador {
  background-color: black;
  text-align: right;
  padding: 10px;
}

.cabecera--navegador li {
  display: inline-block;
  background-color: black;
  list-style: none;
  margin-left: 5px;
}

.pieDePagina {
  text-align: center;
  font-weight: 900;
  grid-area: pieDePagina;
  background-image: linear-gradient(to right, #1033a3, black);
}

@font-face {
  font-family: kanit;
  src: url("../fuentes/Kanit-MediumItalic.ttf");
}
.grillaDeInicio {
  display: grid;
  grid-template-areas: "cabecera cabecera cabecera" "santi copa neyen" "santiTexto copaTexto neyenTexto" "pieDePagina pieDePagina pieDePagina";
  grid-template-rows: 1fr 3fr 2fr 1fr;
  grid-template-columns: 2fr 2fr 2fr;
  height: 100vh;
}

.santi {
  grid-area: santi;
}

.neyen {
  grid-area: neyen;
}

.copa {
  grid-area: copa;
}

.santiTexto {
  grid-area: santiTexto;
  text-align: center;
  background-color: #1033a3;
}

.copaTexto {
  grid-area: copaTexto;
  text-align: center;
  background-color: white;
}

.neyenTexto {
  grid-area: neyenTexto;
  text-align: center;
  background-color: #1033a3;
}

@media screen and (max-width: 599px) and (orientation: portrait) {
  .grillaDeInicio {
    grid-template-areas: "cabecera" "santi" "santiTexto" "copa" "copaTexto" "neyen" "neyenTexto" "pieDePagina";
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 1fr;
    height: 100vh;
  }
  .santiTexto,
.copaTexto,
.neyenTexto {
    font-size: 15px;
  }
}
@media screen and (max-width: 599px) and (orientation: landscape) {
  .grillaDeInicio {
    grid-template-areas: "cabecera cabecera" "santi copa" "santiTexto copaTexto" "neyen neyenTexto" "pieDePagina pieDePagina";
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
  }
  .santiTexto,
.copaTexto,
.neyenTexto {
    font-size: 15px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1199px) {
  .grillaDeInicio {
    grid-template-areas: "cabecera cabecera" "santi copa" "santiTexto copaTexto" "neyen neyenTexto" "pieDePagina pieDePagina";
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
  }
  .santiTexto,
.copaTexto,
.neyenTexto {
    font-size: 15px;
  }
}
.grillaDePlantel {
  display: grid;
  grid-template-areas: "cabecera cabecera cabecera cabecera cabecera cabecera cabecera" "lolo lolo lolo lolo lolo lolo lolo" "pache santi balta balta balta fabri rusca" "gato gato gato juan juan juan juan" "mussi mussi mussi mussi mussi mussi mussi" "crispa crispa crispa niño neyen neyen neyen" "pieDePagina pieDePagina pieDePagina pieDePagina pieDePagina  pieDePagina  pieDePagina";
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr 1fr;
  height: 100vh;
}

.lolo {
  grid-area: lolo;
}

.pache {
  grid-area: pache;
  display: flex;
  justify-content: end;
}

.santi2 {
  grid-area: santi;
  display: flex;
  justify-content: start;
}

.balta {
  grid-area: balta;
  display: flex;
  justify-content: center;
}

.fabri {
  grid-area: fabri;
  display: flex;
  justify-content: end;
}

.rusca {
  grid-area: rusca;
  display: flex;
  justify-content: start;
}

.juan {
  grid-area: juan;
}

.gato {
  grid-area: gato;
  display: flex;
  justify-content: space-around;
}

.mussi {
  grid-area: mussi;
}

.crispa {
  grid-area: crispa;
  display: flex;
  justify-content: end;
}

.niño {
  grid-area: niño;
}

.neyen2 {
  grid-area: neyen;
  display: flex;
  justify-content: start;
}

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
section p {
  display: flex;
  padding: 10px;
  border: 2px solid black;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 30px;
  background-color: #1033a3;
  color: #a1a308;
}

@media screen and (max-width: 599px) and (orientation: portrait) {
  .grillaDePlantel {
    grid-template-areas: "cabecera cabecera cabecera" "lolo lolo lolo" "pache balta rusca" "santi santi fabri" "gato gato juan" "mussi mussi mussi" "crispa niño neyen" "pieDePagina pieDePagina pieDePagina";
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr 3fr 1fr;
    height: 100vh;
  }
  section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 599px) and (orientation: landscape) {
  .grillaDePlantel {
    grid-template-areas: "cabecera cabecera cabecera cabecera cabecera" "lolo lolo lolo lolo lolo" "pache santi balta fabri rusca" "gato gato gato juan juan" "mussi mussi mussi mussi mussi" "crispa crispa niño neyen neyen" "pieDePagina pieDePagina pieDePagina pieDePagina pieDePagina";
    grid-template-columns: repeat(5, auto);
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr 1fr;
    height: 100vh;
  }
}
@media screen and (min-width: 600px) and (max-width: 1199px) {
  .grillaDePlantel {
    grid-template-areas: "cabecera cabecera cabecera cabecera cabecera" "lolo lolo lolo lolo lolo" "pache santi balta fabri rusca" "gato gato gato juan juan" "mussi mussi mussi mussi mussi" "crispa crispa niño neyen neyen" "pieDePagina pieDePagina pieDePagina pieDePagina pieDePagina";
    grid-template-columns: repeat(5, auto);
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr 1fr;
    height: 100vh;
  }
}
.grillaDeHistoria {
  display: grid;
  grid-template-areas: "cabecera cabecera cabecera" "valor valor valor" "valores valores textoValores" "escudo escudo escudo" "textoEscudo textoEscudo viejo" "textoEscudo textoEscudo nuevo" "casaca casaca casaca" "camisetaFoto camisetaFoto textoCasaca" "tifa tifa tifa" "fotoTifa1 textoTifa fotoTifa2" "fotoTifa3 textoTifa fotoTifa4" "campeones campeones campeones" "campeonesFoto1 campeonesFoto1 campeonesTexto" "campeonesFoto2 campeonesFoto2 campeonesTexto" "ligaNuñez ligaNuñez ligaNuñez" "pieDePagina pieDePagina pieDePagina";
  grid-template-rows: 138px 100px 600px 100px 300px 300px 100px 600px 100px 300px 300px 100px 300px 300px 100px 138px;
  grid-template-columns: 2fr 2fr 2fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
  background-color: #1033a3;
}

.valores--foto {
  display: inline-block;
  margin: 15px;
  border-top: 15px solid #1033a3;
  border-right: 15px solid black;
  border-left: 15px solid black;
  border-bottom: 15px solid #1033a3;
  border-radius: 5px;
  grid-area: valores;
}

.valores--texto,
.textoEscudo,
.textoCasaca,
.textoTifa,
.campeonesTexto {
  font-size: 17px;
  grid-area: textoValores;
  display: flex;
  align-items: center;
  justify-content: center;
}

.escudo--viejo {
  grid-area: viejo;
}

.escudo--nuevo {
  grid-area: nuevo;
}

.textoEscudo {
  grid-area: textoEscudo;
}

.valor,
.casaca,
.campeones {
  grid-area: valor;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1033a3;
  background-color: white;
  border-radius: 25px;
}

.escudo,
.tifa,
.ligaNuñez {
  grid-area: escudo;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1033a3;
  background-color: black;
  border-radius: 25px;
}

.casaca {
  grid-area: casaca;
}

.camisetaFoto {
  grid-area: camisetaFoto;
}

.textoCasaca {
  grid-area: textoCasaca;
}

.tifa {
  grid-area: tifa;
}

.fotoTifa1 {
  grid-area: fotoTifa1;
}

.textoTifa {
  grid-area: textoTifa;
}

.fotoTifa2 {
  grid-area: fotoTifa2;
}

.fotoTifa3 {
  grid-area: fotoTifa3;
}

.fotoTifa4 {
  grid-area: fotoTifa4;
}

.campeones {
  grid-area: campeones;
}

.campeonesFoto1 {
  grid-area: campeonesFoto1;
}

.campeonesTexto {
  grid-area: campeonesTexto;
}

.campeonesFoto2 {
  grid-area: campeonesFoto2;
}

.ligaNuñez {
  grid-area: ligaNuñez;
}

@media screen and (max-width: 599px) and (orientation: portrait) {
  .grillaDeHistoria {
    grid-template-areas: "cabecera" "valor" "valores" "textoValores" "escudo" "viejo" "nuevo" "textoEscudo" "casaca" "camisetaFoto" "textoCasaca" "tifa" "fotoTifa1" "fotoTifa2" "textoTifa" "fotoTifa3" "fotoTifa4" "campeones" "campeonesFoto1" "campeonesTexto" "campeonesFoto2" "ligaNuñez" "pieDePagina";
    grid-template-rows: 138px 100px 300px 300px 100px 300px 300px 400px 100px 300px 500px 100px 250px 250px 200px 250px 250px 100px 200px 500px 200px 100px 138px;
    grid-template-columns: 1fr;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 10px;
  }
}
@media screen and (max-width: 599px) and (orientation: landscape) {
  .grillaDeHistoria {
    grid-template-areas: "cabecera cabecera" "valor valor" "valores textoValores" "escudo escudo " "viejo nuevo" "textoEscudo textoEscudo" "casaca casaca" "textoCasaca camisetaFoto" "tifa tifa" "fotoTifa1 fotoTifa2" "textoTifa textoTifa" "fotoTifa3 fotoTifa4" "campeones campeones" "campeonesFoto1 campeonesTexto" "campeonesFoto2 campeonesTexto" "ligaNuñez ligaNuñez" "pieDePagina pieDePagina";
    grid-template-rows: 138px 100px 600px 100px 300px 300px 100px 600px 100px 300px 300px 300px 100px 300px 320px 100px 138px;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 10px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1199px) {
  .grillaDeHistoria {
    grid-template-areas: "cabecera cabecera" "valor valor" "valores textoValores" "escudo escudo " "viejo nuevo" "textoEscudo textoEscudo" "casaca casaca" "textoCasaca camisetaFoto" "tifa tifa" "fotoTifa1 fotoTifa2" "textoTifa textoTifa" "fotoTifa3 fotoTifa4" "campeones campeones" "campeonesFoto1 campeonesTexto" "campeonesFoto2 campeonesTexto" "ligaNuñez ligaNuñez" "pieDePagina pieDePagina";
    grid-template-rows: 138px 100px 600px 100px 300px 300px 100px 600px 100px 300px 300px 300px 100px 300px 320px 100px 138px;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 10px;
  }
}
.fotos--galeria {
  margin: 15px;
  border-top: 10px solid #1033a3;
  border-right: 10px solid black;
  border-left: 10px solid black;
  border-bottom: 10px solid #1033a3;
  width: 350px;
  height: 300px;
  border-radius: 5px;
  transition: padding 0.5s;
}

.fotos--galeria:hover {
  padding: 6px;
}

.titulos--galeria {
  margin: 10px;
  padding: 5px;
  background-color: black;
  color: #1033a3;
  border-radius: 5px;
  text-align: center;
}

.grillaDeGaleria {
  display: grid;
  grid-template-areas: "cabecera cabecera cabecera" "titulos1 titulos1 titulos1" "fotos1 fotos1 fotos1 " "titulos2 titulos2 titulos2" "fotos2 fotos2 fotos2" "pieDePagina pieDePagina pieDePagina";
  grid-template-rows: 1fr 1fr 2fr 1fr 2fr 1fr;
  grid-template-columns: repeat(3, auto);
  height: 100vh;
}

.titulos1 {
  grid-area: titulos1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fotos1 {
  grid-area: fotos1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titulos2 {
  grid-area: titulos2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fotos2 {
  grid-area: fotos2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 599px) and (orientation: portrait) {
  .grillaDeGaleria {
    grid-template-areas: "cabecera" "titulos1" "fotos1" "titulos1" "fotos1" "titulos1" "fotos1" "titulos2" "fotos2" "titulos2" "fotos2" "titulos2" "fotos2" "pieDePagina";
    grid-template-rows: repeat(14, 1fr);
    grid-template-columns: 1fr;
    height: 100vh;
  }
}
@media screen and (max-width: 599px) and (orientation: landscape) {
  .grillaDeGaleria {
    grid-template-areas: "cabecera cabecera" "titulos1 titulos1" "fotos1 fotos1" "titulos1 titulos2" "fotos1 fotos2" "titulos2 titulos2" "fotos2 fotos2" "pieDePagina pieDePagina";
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
  }
}
@media screen and (min-width: 600px) and (max-width: 1199px) {
  .grillaDeGaleria {
    grid-template-areas: "cabecera cabecera" "titulos1 titulos1" "fotos1 fotos1" "titulos1 titulos2" "fotos1 fotos2" "titulos2 titulos2" "fotos2 fotos2" "pieDePagina pieDePagina";
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
  }
}
.grillaDeFormulario {
  grid-template-areas: "cabecera" "formulario" "pieDePagina";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, auto);
}

.formulario {
  text-align: center;
  grid-area: formulario;
}

.fondo--formulario {
  background-image: url("../imagenes/fondo_form.jpg");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
}

.enviar {
  cursor: pointer;
  background-color: #1033a3;
  color: white;
  transition: padding 0.5s;
}
.enviar:hover {
  padding: 2px;
}

.azul {
  background-color: #1033a3;
  color: white;
}

.blanco {
  color: white;
}/*# sourceMappingURL=styles.css.map */